/.project
/target
/jason.app.ibook.web/.settings
/jason.app.ibook.web/target
/jason.app.ibook.web/.classpath
/jason.app.ibook.web/.project
/jason.app.ibook.api/.settings
/jason.app.ibook.api/target
/jason.app.ibook.api/.classpath
/jason.app.ibook.api/.project
/jason.app.ibook.datasource/.settings
/jason.app.ibook.datasource/target
/jason.app.ibook.datasource/.classpath
/jason.app.ibook.datasource/.project
.project
.settings
target
.classpath
