<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
<!--   -->    
  
<beans:bean id="entryPoint" class="jason.app.ibook.security.api.service.SSOAuthenticationEntryPoint" />
<beans:bean id="logoutHandler" class="jason.app.ibook.security.api.service.SSOLogoutSuccessHandler" />
 <beans:bean id="authenticationProvider" class="jason.app.ibook.security.api.service.SSOAuthenticationProvider" >
  <beans:property name="passwordEncoder" ref="encoder" />
  <beans:property name="userDetailsService" ref="customUserDetailService" />  
</beans:bean>
  
    <debug />

      <global-method-security pre-post-annotations="enabled"   />
      
  <beans:bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
    <beans:property name="permissionEvaluator" ref="permissionEvaluator" />
    <beans:property name="permissionCacheOptimizer" ref="permissionCacheOptimizer" />
  </beans:bean> 

    <http pattern="/resources/**" security="none"/>

    <http realm="Contacts Realm"  use-expressions="true" entry-point-ref="entryPoint" security-context-repository-ref="contextRepo" >

        <intercept-url pattern="/secure/**" access="isAuthenticated()" />
        <intercept-url pattern="/**" access="permitAll" />
        <logout delete-cookies="JSESSIONID" success-handler-ref="logoutHandler"/>
        <remember-me  token-repository-ref="rememberMeDao"/>
    </http>
    <authentication-manager>

        <authentication-provider ref="authenticationProvider" />
        
    </authentication-manager>

</beans:beans>
